[2014-04-09 22:33] orta opened #1 "Add social_media_url to the Podspec"
You should add the [social_media_url](http://guides.cocoapods.org/syntax/podspec.html#social_media_url) attribute to your podspec for extra internet win!

It's relatively useful right now, but should be much more useful soon with feeds.cocoapods.org and the upcoming search changes :)

[2014-04-10 04:21] frank0ch0a opened #2 "I can't install pod"
When I try  typing pod install in the directory of example, I received many errors and do not install the pods folder

[2014-04-10 15:22] #2 closed, assigned to nobody

[2014-04-10 15:30] #1 closed, assigned to nobody

[2014-05-15 03:51] frank0ch0a opened #5 "How do I to make 3 cards?"
Hi thanks for sharing , how do I to make 3 cards like tinder, ? I tried but did not worked

Thanks

[2014-05-15 14:02] mez opened #6 "multi direction in MDCSwipeDirection.h?"
Hi - Any plans to include other directions? For example ability to swipe up and down?

Thanks for this great control!

-Mez

[2014-05-16 05:37] #5 closed, assigned to nobody

[2014-06-11 23:01] mithunm93 opened #7 "Liked and Nope images"
How do the green liked and red nope images fade in on the image as you swipe? I don't see those images anywhere and I can't find that functionality in the code.

[2014-07-19 07:05] liuyong opened #9 "Memory Leak"
Grateful for such a great control, I am in the process of using each Liked or Nope will have a memory leak. May I ask how to deal with memory leaks?
Content from GOOGLE translation problem.

[2014-07-31 03:40] jtmarmon opened #12 "Custom Nope & Liked Views"
I'm trying to use a UIImageView as a custom view for the nope and liked views like so:

[code]

But nothing changes.  Don't know why that should happen, considering `view.imageView`  is obviously mutable.  I also tried using a custom label instead of an imageView for testing purposes to no avail.

[2014-08-02 01:17] #12 closed, assigned to nobody

[2014-08-03 10:00] goelv opened #13 "pod install isn't working on LikedOrNope project"
After entering pod install in the LikedOrNope directory, I am getting this error.

MacBook-Pro:LikedOrNope varungoel$ pod install
Analyzing dependencies
/Users/varungoel/.rvm/gems/ruby-2.0.0-p353@global/gems/cocoapods-0.33.1/lib/cocoapods/executable.rb:55: warning: Insecure world writable dir /usr/local/bin in PATH, mode 040777
[!] An error occurred while performing `git pull` on repo `master`.
[!

[2014-08-04 17:56] bennettl opened #14 "Animated Gif?"
Hello,

This isn't an issue, just a simple question for the author. I really like the animated gif you have when demoing the functionality of your app! How did you do it/what software did you use? Thank you so much!

Best,
Bennett

[2014-08-05 10:30] #13 closed, assigned to nobody

[2014-08-08 11:05] bvallelunga opened #15 "Compatibility without the -objC linker flag"
Thanks for the amazing work! I currently building an app that also requires facebook sdk. The facebook requires that I cant have the -objC linker flag which causes this library to break.

Is there a way to make this library work without the -objC linker flag?

[2014-08-11 18:40] goelv opened #17 "BackCard Animation"
Hi,

How do you get the backCard to animate from a smaller frame to a bigger frame when the frontCard is being swept away in either direction? Like the UX seen on Tinder where each card is a little smaller in width from the previous one but the width grows as the front card is being swept away.

Thanks,
Varun

[2014-08-16 00:26] #14 closed, assigned to nobody

[2014-08-21 11:36] bk207004 opened #18 "Swiping A View Programmatically"
Im trying to swipe a View Programmatically but [self.swipeToChooseView mdc_swipe:MDCSwipeDirectionLeft]; has not been working.Am i doing something wrong?

[2014-09-26 02:16] jeffaburt opened #20 "Delegate method when swiping begins"
A delegate method that gets fired when swiping begins would be cool. Is this possible? I haven't looked too deeply into the code yet.

[2014-10-14 04:36] #9 closed, assigned to nobody

[2014-10-14 04:40] #17 closed, assigned to nobody

[2014-10-14 04:42] #7 closed, assigned to nobody

[2014-10-15 21:16] #18 closed, assigned to nobody

[2014-10-23 02:54] lengqingfeng opened #22 "MDCSwipeToChoose is cool"

[2014-10-24 18:51] Katafalkas opened #23 "Swift adoption."
Hey. I tried installing this component via pods to use it with Swift, but got an error which I cant figure out how to fix (as I know zero Objective-C). Maybe some1 could take a quick look ? Cheers in advance !

I created a new new project.
did `pod init` inside.
added `pod "MDCSwipeToChoose"` to Podfile.
ran pod install
Opened the newly created workspace.
created `BridgingHeader.h` file.
Added `#i

[2014-10-24 19:52] #23 closed, assigned to nobody

[2014-10-24 19:53] modocache opened #24 "Update CocoaPod"
The lastest pod has errors in some contexts, see #23.

[2014-10-28 17:34] sebasdeweert opened #26 "Disable swipe, only use the upvote and downvote button"
Hi,

At first, thank you so much for the amazing work!

I would like to disable the swiping between images to upvote or downvote. I would only like to use the green and red thumb for upvote or downvote.

How can I make this possible? I found the void setupSwipeToChoose but when I remove this the first image will work, the second image will be stuck on the screen.

Thank you!

[2014-11-07 21:30] camh opened #28 "originalCenter is only updated once"
In my application, I create the swipe to choose views before setting the frame. This causes some problems when swiping a view programmatically, because it does not update the originalCenter before swiping the view programmatically.

For instance, the center is incorrect so swipe is "cancelled" (because of `mdc_directionOfExceededThreshold` which uses originalCenter to calculate if the view has exc

[2014-11-18 18:03] Nebla opened #31 "Incorrect behaviour in ios7 with constraints"
In ios 7, when the view is using autolayout with constaints, it only rotates when doing pan, it seems that

view.center = MDCCGPointAdd(self.mdc_viewState.originalCenter, translation);

isn't working properly in this case (in ios8 it works as expected). What I did to solve this is instead of changing the center property I changed the constraints values, I couldn't figure out another solution. It w

[2014-12-02 21:02] gurgeous opened #32 "not usable in interface builder, and other design issues"
I love MDCSwipeToChoose! It works great and I was thrilled when I saw the demo app.

There's a problem, though. You can't use it in interface builder because MDCSwipeToChooseView uses a custom initializer. That forces me to do manual layout for my views, which is really tragic. Or I can use complicated wrappers to load my subviews from nibs and stuff them into an MDCSwipeToChooseView subclass.

It

[2015-01-06 18:49] varatep opened #34 "Programmatic mcd_swipe"
Should clarify in the docs that the user has to manually call ```wasChosenWithDirection``` when using the mdc_swipe function on the MDCSwipeToChooseView.

In my case, the front card view would not be removed either.
Here's a basic sample of getting it to work:
[code]

[code]

[2015-01-09 08:29] grabbou commented on #24
That'd be quite handy, errors still exists.

[2015-01-09 16:36] grabbou opened #35 "[MDCSwipeOptions] exitScreenOnChosenWithDuration - configurable"
Hi,
It'd be quite cool to have an ability to set that duration instead of having predefined `0.1` or overriding entire `onChosen` property. Can do PR for that by introducing another static property to header file e.g.
[code]
What do you think?

[2015-01-23 16:45] nitinan59 commented on #31
Hi, you can check this out.
#37

[2015-01-24 15:51] nickoneill commented on #34
Sounds like the module can't correctly determine which side of the screen the item should be swiped to. I had a similar issue when using constraints for my items. Eventually I settled on doing a quick animation to move the constraints so the item passes the swipe threshold, then triggering the swipe programmatically which was able to complete the rest of the actions (including calling wasChosenWit

[2015-02-09 13:46] stkhapugin opened #39 "When delegate forbids a choice, the view won't return to initial state"
**What I'd expect:**

returning `NO` from

[code]

would throw the view to its initial state.

**What actually happens:**

view remains in the same position as it was after last dragging.

**Workaround**

manually call `mdc_returnToOriginalCenter`.

**Suggested solution**
Since `mdc_returnToOriginalCenter` is private, I think it'd be great to either make it public or modify `mdc_exitSuperviewFromT

[2015-02-09 14:59] modocache commented on #39
I think the code snippet above, in which you call `[self mdc_returnToOriginalCenter]`, is the right solution. I also agree about adding an `onCancel` callback.

Thanks! :+1:

[2015-02-09 15:42] dorinsimina commented on #5
@frank0ch0a can you give me more details on how you implemented 3 cards. Thanks in advance.

[2015-02-17 23:57] rjburdish opened #41 "LikeOrNope in swift"
I have implemented MDCSwipeToChoose into a swift project and have the view controller currently swiping, however I am having alot of trouble getting the graphics down and loading the stack as it is done in likeornope.. Is there any chance there is a swift version of likeornope available or will one be coming soon. I think I speak for many new IOS developers by saying this would be extremely useful

[2015-02-23 14:08] iujlaki commented on #18
Hi,
When I call mdc_swipe: the card just disappear and not animated with the given direction.
I use custom view.
Thanks.

[2015-02-28 15:16] kong707 opened #42 "Animation for Liked and Nope button does not work"
When user tap Liked or Nope button . The action works correctly except that the frontView is completely disappear without any animation . How can I solve this ?  The example app works just fine .But when I use it  on my project ,it does not work.

[2015-02-28 15:33] kong707 commented on #18
I got exactly the same problem

[2015-02-28 15:37] kong707 commented on #42
Here is the warning i got
 <Error>: CGAffineTransformInvert: singular matrix.

[2015-02-28 17:27] kong707 commented on #42
I found out the problem. But have not found the solution yet.
in - (void)mdc_rotateForTranslation:rotationDirection:
After calling this line to specify that view has to be rotated
self.transform = CGAffineTransformRotate(self.mdc_viewState.originalTransform,
                                             rotationDirection * rotation);

The self.frame.size changed to CGZero.  Not sure why this is hap

[2015-02-28 17:45] kong707 commented on #42
self.mdc_viewState.originalTransform always return zero matrix because it was not initiated properly.
Putting      self.mdc_viewState.originalTransform = self.transform;
in  - (void)mdc_swipeToChooseSetup:(MDCSwipeOptions *)options
Solved my problem.

[2015-02-28 17:45] #42 closed

[2015-02-28 20:23] modocache commented on #42
@kong707 Thanks! Could you submit a pull request with the change that got things working for you? :pray:

[2015-02-28 20:24] #39 closed

[2015-02-28 20:25] modocache commented on #22
Haha, thanks! :wink:

[2015-02-28 20:25] #22 closed

[2015-03-01 07:55] kong707 commented on #42
@modocache  Done.  Thanks for this module as well.

[2015-03-03 23:10] altyus opened #44 "Make more friendly for use with autolayout"
Perhaps MDCSwipeToChooseView could have an init for just initWithOptions or expose options property

[2015-03-12 09:37] jrmgx opened #45 "Undo"
It could be a nice feature to be able to undo the last swipe?

[2015-03-13 17:19] jrmgx commented on #18
Thank you, it solved my problem too,
I guess that code should be added to the project, I don't think it's the case for now
(using cocoapods updated today)

[2015-03-14 00:57] ZaneH commented on #45
Out of curiosity, how would you allow the user to undo the last swipe? Would it be a different gesture, or a button titled "Undo"?

[2015-03-14 07:39] jrmgx commented on #45
To be consistent it should be a gesture but I can see one available without conflicting with iOS or the one already in place for the actual SwipeToChoose component,
so I guess a button is a good start. It is what we did but not as part of that lib, only in the logic of our app.

see :
![02_feed_01](https://cloud.githubusercontent.com/assets/42989/6650814/a196bb7c-ca25-11e4-9daf-109e446d2041.png)

[2015-03-18 14:29] modocache opened #48 "Build failing?"
Looks like the Travis CI build is failing: https://travis-ci.org/modocache/MDCSwipeToChoose/builds/54823755

The error message is strange: `Reason: The run destination iPad 2 is not valid for Testing the scheme 'MDCSwipeToChoose'.`

[2015-03-18 15:54] vikmeup commented on #48
@modocache I will look in to that tonight, I think it's just configuration of travis-ci has to be configured, because latest changes does not affect this.

[2015-03-20 04:14] datomnurdin opened #49 "No image available on view controller."
No image availabe on view controller. Why it happend? Is anyone got like this problem?

![2015-03-20 12 26 25](https://cloud.githubusercontent.com/assets/5416242/6745943/84048b82-cefa-11e4-9a71-ca4a87b82ec7.png)

[2015-03-20 05:21] vikmeup commented on #49
Could you provide your code? Make sure you frame.origin.y has correct value, it seems too height.

Take a look at example code in https://github.com/modocache/MDCSwipeToChoose

[2015-03-20 09:15] datomnurdin commented on #49
i will take a look.

[2015-03-20 13:37] #49 closed

[2015-03-26 03:50] datomnurdin commented on #41
No response?

[2015-03-26 04:02] datomnurdin opened #50 "Property 'superview' not found on object of type 'ViewController *'"
I got this error message in this code

[code]

[2015-03-26 04:07] modocache commented on #50
That should probably be `[view superview]`, not `self.superview`, since `self` is a view controller in the example. @mars, could you send a pull request with a fix? You're on the blame for that line :wink:

[2015-03-26 04:08] #50 closed

[2015-03-26 04:08] modocache commented on #50
Never mind, I got it!

Boy do I love in-line editing on GitHub. So handy!

[2015-03-26 04:10] modocache commented on #41
I'd love to include an example written in Swift, but I don't have much time to write one myself. @vikmeup? :pray:

[2015-03-26 04:17] datomnurdin commented on #49
Still no images until now. I already install the library via POD. And this is my code is my ViewController.

[code]

[2015-03-26 06:03] datomnurdin opened #52 "Assigning to 'id<MDCSwipeToChooseDelegate>' from incompatible type 'ViewController *const __strong'"
I got warning message for this code

[code]

[2015-03-26 06:42] datomnurdin commented on #49
Fixed.

[2015-03-26 15:49] rjburdish commented on #41
I've actually already created a swift version which behaves the same. I'm new to GitHub, how can I submit it for other people to use? @modocache

[2015-03-26 16:00] mars commented on #50
:+1: & thanks for the swipin-sweet lib

[2015-03-26 16:27] datomnurdin opened #53 "Why image view as full screen."
I don't know how to fix it.

![2015-03-26 14 18 41](https://cloud.githubusercontent.com/assets/5416242/6851133/16e7c47e-d418-11e4-910c-1d6fc5ce5e77.png)

[2015-03-26 16:56] modocache commented on #48
Awesome, thanks! :bouquet:

[2015-03-27 06:44] vikmeup commented on #48
@modocache fixed.
https://github.com/modocache/MDCSwipeToChoose/pull/54

Sorry for delay.

[2015-03-27 06:44] #48 closed

[2015-03-27 06:52] vikmeup commented on #53
@datomnurdin please take a look at example code, and make sure you set frame correctly.

[2015-03-27 06:53] vikmeup commented on #45
@jrmgx feel free to contribute. Email me if you like to code this feature over the weekend?

[2015-03-27 06:57] vikmeup commented on #52
This would fix your warning.
`@interface MyViewController : UIViewController <MDCSwipeToChooseDelegate>`

[2015-03-27 06:57] #52 closed

[2015-03-27 07:00] vikmeup commented on #41
@modocache that's perfect. I just pulled @takecian changes with Swift example.
https://github.com/modocache/MDCSwipeToChoose/pull/30

I will add Swift project of LikeOrNope this weekend.

[2015-03-27 07:02] vikmeup commented on #41
@rjburdish feel free to fork https://github.com/modocache/MDCSwipeToChoose repo and send us pull request.
Take a look at `https://help.github.com/articles/using-pull-requests/`

[2015-03-27 07:42] datomnurdin commented on #52
Thank you, it works.

[2015-03-27 07:45] datomnurdin commented on #53
How to do that? My code

[code]

[2015-03-27 08:22] jrmgx commented on #45
Unfortunately I don't have the skill to contribute, as I tried to explain the only thing I did it to implement the undo logic in term of data source, so if the user tap undo it put back the previous item into the data and refresh. There is no animation, nothing fancy. That's why I open this issue, because I thought it could be a native feature. But as I remember this lib doesn't manage a data sour

[2015-03-27 15:18] grabbou commented on #26
Any updates? Quite helpful to have.

[2015-03-28 20:12] rjburdish commented on #41
@modocache @vikmeup

Done. I have pushed and created a pull request for my swift version of LikedOrNope and called it SwiftLikedOrNope. The README has also been updated.

Thanks!

[2015-03-29 01:29] vikmeup commented on #41
@rjburdish good job! I merged your pull request!

[2015-03-29 01:29] #41 closed

[2015-03-29 02:12] datomnurdin opened #56 "Can't do pod install"
I can't install pod for swift project.

[code]

[2015-03-29 03:22] datomnurdin opened #57 "fatal error: unexpectedly found nil while unwrapping an Optional value"
I got this error message in ChoosePersonView.swift.

[code]

[2015-03-29 20:11] #57 closed

[2015-03-29 20:13] datomnurdin opened #58 "Initial image is too big."
Initial image is too big in swift project. How to make it fit inside view controller?

![2015-03-30 04 25 28](https://cloud.githubusercontent.com/assets/5416242/6887474/2b305054-d693-11e4-8006-18ec4cb2fa23.png)

But it's ok for second image.

![2015-03-30 04 25 33](https://cloud.githubusercontent.com/assets/5416242/6887463/08c2bde0-d693-11e4-99b1-2a07c5847a50.png)

[2015-03-31 09:00] jonathanxie commented on #26
I was able to prevent swiping by adding another view on top of the frontCardView. Then I used a completion block which I call in ChoosePersonView to remove that view after an image for the ChoosePersonView successfully loads asynchronously. You could use a delegate, completion block, or some other way to make the call to remove that view that prevents swiping. Hope this helps.

[code]

[2015-04-08 01:37] datomnurdin opened #60 "How to add action on frontCardViewFrame()"
How to add action on frontCardViewFrame() using this one

[code]

[2015-04-08 02:13] datomnurdin opened #61 "Swift - Custom UIView"
I can't create custom UIView properly inside my view controller. What I want is four buttons (UNDO, DISLIKE, LIKE, INFO) in vertical side. But my UNDO and INFO button not appeared properly inside my view controller.

[code]

Result (ignore the image and button colour part)

![screen shot 2015-04-08 at 10 11 57 am](https://cloud.githubusercontent.com/assets/5416242/7037590/c5e97eea-ddd7-11e4-8d0a-2

[2015-04-08 02:14] datomnurdin commented on #45
I'm kindly to contribute, but how to start?

[2015-04-09 06:58] vikmeup commented on #45
@datomnurdin Please take a look at https://help.github.com/articles/using-pull-requests/

[2015-04-15 13:30] confile opened #62 "fatal error: unexpectedly found nil while unwrapping an Optional value"
Running the Swift example: SwiftLikedOrNope I get the following error while:

[code]

The error is reported in class ChoosePersonView: MDCSwipeToChooseView Line 43

[code]

[2015-04-18 05:48] vikmeup commented on #62
Fixed: https://github.com/modocache/MDCSwipeToChoose/pull/64

[2015-04-18 05:48] #62 closed

[2015-04-18 05:49] vikmeup commented on #56
Fixed: https://github.com/modocache/MDCSwipeToChoose/pull/64

[2015-04-18 05:49] #56 closed

[2015-04-18 05:50] #24 closed

[2015-04-18 16:27] confile commented on #62
Thanks!

[2015-04-18 16:27] confile opened #65 "Swift Demo is not compatible with Swift 1.2 and Xcode 6.3"
Swift Demo is not compatible with Swift 1.2 and Xcode 6.3

I get about 9 Errors.

[2015-04-20 13:20] yisheng commented on #32
+1!!!

[2015-04-20 13:21] yisheng commented on #44
This will really help!

[2015-04-23 19:12] JoeSzymanski opened #67 "Swipe handling doesn't take velocity into account"
When swiping, the pan gesture recognizer doesn't account for the velocity of the swipe when the gesture completes. This means that a short flick, which feels like it should send the card off-screen, moves the card slightly and returns it back to the center.

This should be a relatively simple process of passing the pan gesture recognizer to the finalization method so that the velocity can be acces

[2015-04-25 10:26] dosapati opened #68 "Swift code getting <Error>: CGAffineTransformInvert: singular matrix"
While using Swift code If any card is clicked by choosing  the buttons instead of Pan gesture - the animation is not showing up.

In Xcode console we see this error.

[code]

Tried to fix this by initializing originalTransform
[code]

Donno is this the right way or not, comment or suggest a better solution. If our approach is right, let me know if you want me to make a pull request and check in th

[2015-04-28 13:11] RehmakNatiq opened #71 "How do i build my own custom view"
I want my own custom view .
the View will have an image and some labels at image bottom like in tinder.
how can i do this ?
Please tell me

[2015-05-04 14:35] JoeSzymanski opened #72 "onChosen default animation is incorrect"
The current animation performed when a card is chosen changes the frame of the card. This is not correct, because the frame won't be correctly changed since there is a transform applied to the card. UIView documentation says that only bounds and center should be changed when a transform is present.

There is a simple fix, though. Instead of changing the frame, just change the center to the center

[2015-05-04 15:07] JoeSzymanski commented on #72
Fixed in pull request #73.

[2015-05-05 06:09] #72 closed

[2015-05-05 13:19] datomnurdin opened #75 "Absolute value function 'fabsf' given an argument of type 'CGFloat' (aka 'double') but has parameter of type 'float' which may cause truncation of value"
[code]

Code

[code]

Please check my pull request.

https://github.com/modocache/MDCSwipeToChoose/pull/74

[2015-05-06 02:17] datomnurdin opened #77 "Initializer does not override a designated initializer from its superclass"
I got this two error messages after updated xcode 6.3.1.

[code]

Code

[code]

Please advice. Thank you.

[2015-05-06 02:19] datomnurdin opened #78 "Initializer does not override a designated initializer from its superclass"
I got this two error messages after updated xcode 6.3.1.

[code]

Code
[code]

Please advice. Thank you.

[2015-05-06 02:20] datomnurdin opened #79 "Method 'setFrontCardView' with Objective-C selector 'setFrontCardView:' conflicts with setter for 'frontCardView' with the same Objective-C selector"
I got this two error messages after updated xcode 6.3.1.

[code]

Code
[code]

Please advice. Thank you.

[2015-05-08 02:48] wang9262 commented on #68
I came across the same problem,and @dosapati 's method solved it.Thanks :-) :+1:

[2015-05-11 10:00] goelv opened #80 "I want the ability for the user to swipe down on the card. How do I go about it?"
Hi,

Besides swiping the card left or right for 'skip' or 'add' respectively, I need to give the user the option to swipe down to mark 'seen'.

How do I go about modifying the MDCSwipeToChoose library?

Any guidance in this regards will help me tremendously.

Thanks,
Varun

[2015-05-11 11:59] steffimueller opened #81 "More than one card in the background"
Is it possible to have more than one card in the background?

[2015-05-11 21:28] confile opened #82 "Change Card border width"
Is it possible to change card border width and color?

[2015-05-12 17:28] benmathes opened #83 "Swiping fully in any direction destroys the view. Need an option to not destroy."
When using `someUIView.mdc_swipeToChooseSetup(...)`, a full swipe to the left or right will destroy the view.

If this view was created with storybuilder, then an `@IBAction` or `@IBoutlet` links are gone, along with the entire view. For a lot of cases, that renders this library unusable :-(

[2015-05-12 17:31] benmathes commented on #83
I might be able to work around this by overriding `exitScreenOnChooseWithDuration`, but that's not documented and I doubt you intended that.

[2015-05-12 20:39] benmathes commented on #83
Looks like you do have a hook to override the default onswipe behavior with `MDCSwipeOptions.onChosen`

[2015-05-12 20:39] #83 closed

[2015-05-13 11:11] goelv commented on #82
Yes.

https://github.com/modocache/MDCSwipeToChoose/blob/master/MDCSwipeToChoose/Public/Views/MDCSwipeToChooseView.m#L60

[2015-05-13 11:48] confile commented on #82
This is an internal method. How do I set borderWidth externally?

[2015-05-14 09:15] abircse06 commented on #79
just rename the "setFrontCardView" method to whatever you like . for me i just renamed the method to "setFrontCardViewUpdate" . then you have to change the corresponding code section where this method is called in the ChoosePersonViewController.swift file . there should 2 places where the method "setFrontCardView" is called . just change those to the new method name.

[2015-05-14 15:04] confile opened #84 "Programmatically Swipe does not perform Animation correctly"
In the [SwiftLikedOrNope](https://github.com/modocache/MDCSwipeToChoose/tree/master/Examples/SwiftLikedOrNope) sample when you click the buttons to swipe programmatically the swipe animation is not performed. You do not see the "liked" or "nope" and the card does not rotate. It just vanishes.

Could you please fix that.

[2015-05-14 19:17] steffimueller commented on #84
+1

[2015-05-14 19:18] steffimueller commented on #84
It only works when you first drag the card by hand a little bit.

This should be fixed. @modocache Do you have any idea for a workaround?

[2015-05-17 14:20] datomnurdin commented on #79
It's working, but why it happen like that? can you explain it to me sir?

[2015-05-17 14:39] datomnurdin commented on #79
Please check my pull request. https://github.com/modocache/MDCSwipeToChoose/pull/85

[2015-05-21 12:43] confile commented on #84
@vikmeup Any idea on this issue?

[2015-05-24 00:00] acegreen opened #86 "Apple Mach-O error because of -ObjC in Other Linker Flags"
I have added MDCSwipeToChoose to my existing project but I'm receiving about 33 Apple Mach-O errors. Removing -ObjC in my project target resolves the problem and the build succeeds.

BUT the app crashes with the following error:

2015-05-23 19:59:11.368 Chartinder[63760:1881378] +[UIColor colorWith8BitRed:green:blue:alpha:]: unrecognized selector sent to class 0x11290c8
2015-05-23 19:59:11.377 Cha

[2015-05-24 00:34] acegreen commented on #78
Did you get this sorted out?

[2015-05-24 01:53] acegreen commented on #86
Got it resolved. I had Parse added which caused included Parse crash logging framework. deleting that solved the problem.

[2015-05-24 01:54] acegreen commented on #86
Got it resolved. I had Parse added which caused included Parse crash logging framework. deleting that solved the problem.

[2015-05-24 01:54] #86 closed

[2015-05-25 12:34] acegreen opened #87 "Animate backCardView should happen during swipe"
I think it looks more appropriate when we perform the following as the swipe is taking place. Also it needs to factor in the motion (as tinder does when you begin swiping)

backCardView = self.popPersonViewWithFrame(self.backCardViewFrame())

        // Fade the back card into view.
        if backCardView != nil {

            self.backCardView.alpha = 0.0
            self.view.insertSubview(self

[2015-05-25 12:42] acegreen opened #88 "Swipe gesture should only affect front most view"
I noticed that if I swipe the top view slightly in a direction (enough to be able to touch the one below it) I can use my other finger ( while holding the first view with a finger) and influence the back view. Though swiping is not possible, the view is rotated and scaled when gesturing. Also the Like/Nope labels are fading in.

![photo 2015-05-25 8 41 06 am](https://cloud.githubusercontent.com/as

[2015-05-26 10:27] jeanfw commented on #84
I had a similar issue, with a console error: ```<Error>: CGAffineTransformInvert: singular matrix.```

My error was due to the ```originalTransform``` not being set at setup, here: https://github.com/modocache/MDCSwipeToChoose/blob/v0.2.3/MDCSwipeToChoose/Public/Views/UIView+MDCSwipeToChoose.m#L42

This has since been fixed on master:
https://github.com/modocache/MDCSwipeToChoose/blob/master/MDCSw

[2015-05-31 04:41] acegreen commented on #84
@jeanfw when I add that line I get:

Assigning to 'CGAffineTransform' (aka 'struct CGAffineTransform') from incompatible type 'CATransform3D' (aka 'struct CATransform3D')

[2015-05-31 09:52] jeanfw commented on #84
@acegreen Yes I also had the same error when just adding the line, but ultimately went for updating the whole POD, and that worked for me.

[2015-05-31 14:03] acegreen commented on #84
Thanks for the feedback. I made too many changes to update my pod. Not sure how thats handled as I'm new to this whole pod thing

[2015-05-31 15:37] acegreen commented on #84
its actually     self.mdc_viewState.originalTransform = self.transform;

without .layer

[2015-05-31 15:49] acegreen commented on #80
hey @goelv have you figured this one out yet? I'm also interested in doing that

[2015-05-31 23:07] acegreen opened #89 "Is there an easy way to make ChoosePersonView not swipe-able?"
In an insane of my app, i use ChoosePersonView to make views but i don't want these to be swappable. Is it possible to add to the "MDCSwipeToChooseViewOptions" so we can pass it along when we make a ChoosePersonView?

[2015-06-01 11:36] lunswor commented on #68
Thanks @dosapati
Fixed it for me too.

[2015-06-01 12:34] acegreen commented on #81
Have you figured this one out? I did it by manipulating a few things. If you are still interested, we can discuss it in detail.

[2015-06-02 03:06] #89 closed

[2015-06-02 03:09] acegreen commented on #88
I managed to solve this by setting:

self.backCardView.userInteractionEnabled = false  -----  in the viewDidLoad
self.backCardView.userInteractionEnabled = false ----- in the wasChosenWithDirection
self.frontCardView.userInteractionEnabled = true ---- in the setFrontCardViewUpdate

This should be included from the get-go

[2015-06-02 03:10] #88 closed

[2015-06-03 06:06] goelv commented on #80
hi @acegreen yes its a work in progress. I think I have figured it out for the most part, but currently working on some other tasks and only get back to this later next week.

[2015-06-04 08:13] arsonik commented on #68
Since originalTransform is CATransform3D :
[code]

[2015-06-07 20:42] acegreen commented on #80
@goelv Great. I'm still struggling with this. I have edit some areas but the direction doesn't seem to recognized. Do you have time to chat? We can setup a short skype session.

[2015-06-07 21:51] acegreen commented on #6
@eggie5 @clsource  can you guys provide the code to do this? I modified my pod and can't update. Also I don't know how forks work.

[2015-06-08 05:29] jay2090 opened #90 "Compatibility Issue."
When i am trying to import this code it say not compatible with ios version 4.3 to 8.3 . What can be the issue here ? Please let me know about it.

Thanks.

[2015-06-14 17:23] acegreen commented on #6
Now that we have 4 swipe directions, how do we add more labels? I tried the following but the skip overlay doesn't show, though its added as a subview. The first two if statements ( if (translation.x > 0.f)  & else if (translation.y > 0.f)  ) are executed, so it seems it never gets to the last 2.

- (void)setupSwipeToChoose {
    MDCSwipeOptions *options = [MDCSwipeOptions new];
    options.delega

[2015-06-15 10:34] acegreen commented on #6
Because of the additional swipe directions I ended up changing my mdc_executeOnPanBlockForTranslation as following:

- (void)mdc_executeOnPanBlockForTranslation:(CGPoint)translation {

    if (self.mdc_options.onPan) {

        CGFloat thresholdRatio;

        MDCSwipeDirection direction = MDCSwipeDirectionNone;

        if (ABS(translation.y) > ABS(translation.x)) {

            thresholdRatio =

[2015-06-15 18:28] clsource commented on #6
I ended using another solution more flexible.

https://github.com/cwRichardKim/TinderSimpleSwipeCards/issues/12#issuecomment-105674387

[2015-06-16 12:58] goelv commented on #80
@acegreen great! I didn't realize someone else forked it already. Majority of the code changes are here: https://github.com/clsource/MDCSwipeToChoose/commit/b587545a003b55c28d469b519b88d10983a4df9c from the fork

[2015-06-18 03:28] datomnurdin commented on #45
I had no idea to start.

[2015-06-18 07:25] fresh83 opened #93 "proper way to load more"
having a hell of a time getting it to load more without causing the last card to be skipped or crashing to occur due to something or another.

•What method should loadmore be called in
•What should be called after more data has been loaded.

[2015-07-01 12:41] varkor opened #94 "Programmatic mdc_swipe does not play well with dragging"
If the image is currently being dragged, and `mdc_swipe` is called, the image will either return to the center (if it's on the right side, and it's programmatically swiped left, or vice versa), or be swiped as expected (if it's on the same side as the programmatic swipe). This looks especially messy when a drag is in motion and a swipe is triggered.

Either ignoring `mdc_swipe`s when the image is

[2015-07-06 21:42] datomnurdin opened #95 "Swift - How to add addTarget on frontCardView?"
How to add addTarget on frontCardView so I can show profile details.

*.addTarget(self, action: "infoFrontCardView", forControlEvents: UIControlEvents.TouchUpInside)

[2015-07-10 14:32] JoeSzymanski opened #96 "UIGestureRecognizer doesn't handle the Cancelled state"
Just hit this bug in our own usage of the app. The gesture recognizer for the view doesn't handle the cancelled state, so it treats a cancel event like any other event during a swipe. The cancel state should be handled the same way that the end state does. Either that, or cancel state should actually cancel the swipe.

[2015-07-11 21:10] rafalio commented on #84
This was driving me crazy today, thanks for the solution guys, the :head version of the podspec works. @modocache , this issue can be closed.

[2015-07-22 11:33] varkor opened #97 "Use MDCRGB8Bit prefix/suffix for UIColor colorWith8BitRed:green:blue:alpha method"
This method name is a common-enough choice that it conflicts with other pods (e.g. [HexColors](https://github.com/mRs-/HexColors)), causing undefined behaviour and breaking various functionality. Please rename it to something unique so these issues can be avoided.

(This could well apply to other methods, but it was this one in particular that caused me problems.)

[2015-07-22 13:22] modocache commented on #97
Agreed! It should be prefixed with `mdc_`, like the other category methods in this library.

Sent from my iPhone

[2015-07-25 10:14] lunswor commented on #95
I'm using something like this
[code]

[2015-08-17 20:27] acegreen commented on #96
I'm not sure if I'm running into the same issue, but when I'm in the middle of a swipe and use another finger to press a uibarbutton item, It allows me to select it, then takes me to that controller. But when I return, the view I was swiping remains stuck where I left it.

[2015-08-17 20:33] acegreen commented on #95
The above approach is "ok" though not optimal. Because the views are being removed, its best to put the UITapGestureRecognizer in the UIView+MDCSwipeToChoose class. I did the following:

1. Add the gesture in  mdc_swipeToChooseSetup function

- (void)mdc_swipeToChooseSetup:(MDCSwipeOptions *)options {
    self.mdc_options = options ? options : [MDCSwipeOptions new];
    self.mdc_viewState = [MDCVi

[2015-08-17 20:36] acegreen commented on #93
I did it in the wasChosenWithDirection function

        if self.charts.count <= 5 {

            // GetObjects and make charts
            getObjectsAndMakeCharts()

        }

[2015-08-17 20:37] acegreen commented on #93
Also my load function doesn't just the last card, it knows the position of the card being loaded (i.e. 0, 1 or 2) and loads the correct array element.

[2015-08-28 07:09] xhzengAIB opened #100 "memory leak"
Hi！@modocache

Could you tell me why ChoosePersonView won't be release? Cause a memory leak

Jack

[2015-08-28 09:32] #100 closed

[2015-08-30 15:17] WymanY opened #101 "about memory issue"
I'm curious why you don't reuse the front view when you bring the backView to Front. Is this a todo for the programmer who download the code ?

[2015-09-19 23:39] grantkemp commented on #65
Seems to work ok.. suggest closing?

[2015-09-19 23:41] grantkemp commented on #53
you are setting the bounds to full screen here:
`MDCSwipeToChooseView *view = [[MDCSwipeToChooseView alloc] initWithFrame:self.view.bounds
                                                                     options:options]; `

[2015-10-01 12:09] ananarola opened #106 "Refresh cards on view will appear / Dublicate card shown"
I have an web service which add swipe cards when my view will appear called then the previous card is not refreshed/ removed and same card again insert means i have same card twice and increase while view will appear called or my array list size change.. how to remove dublicate cards

[2015-10-13 03:05] jiulin opened #108 "How can I change I backCard Frame,excepical the backCard Witdth Or Height?"
I have used this MDCSwipeToChoose to complish my project. It is very beautiful and useful!
     But I have met new requirement. That is : I create frontcardView ,backcardView. The width of backcardView is smaller than the frontcardView. After I swipe the frontcardView , I want to change the width of  backcardView  .But it cannot!  Can you tell  me how to do it?
     Looking forward for your help!

[2015-10-14 08:38] #108 closed

[2015-10-19 15:18] rishabhtayal commented on #6
Any updates on this feature?

[2015-10-30 00:53] nleachCHS commented on #101
Looking at instruments I'm seeing VM: CoreAnimation build up a huge amount of memory usage. Like 1GB+ over Something like 2000 swipes. Are you seeing something similar?

[2015-11-03 13:50] acegreen commented on #39
I'm wondering how you handle the overlay self mdc_returnToOriginalCenter just returns the view to oringal center as expected but the overlay remains at alpha = 1.0

[2015-11-30 04:03] rjburdish commented on #101
@nleachCHS can you describe a bit about how you implemented card reuse? I am also experiencing memory issues with a large data set. Thanks!

[2015-12-04 04:49] manonthemoon42 opened #109 "mdc_swipe speed"
Hi !

Is it possible to add a parameter to `mdc_swipe:` method ?
Would be great to set an animation speed value for the programmatically swipe.
The current animation is way too fast.

[2015-12-06 19:30] manonthemoon42 commented on #28
The commit of @mtando fixed completely the issue. Updating the original center makes the fix.
Here's the commit :
https://github.com/mtando/MDCSwipeToChoose/commit/78aadba6e8a81f8102f77dc74add85c7903a5ae4

[2015-12-08 20:25] acegreen opened #110 "Different Use-case"
Hi @modocache,

First of great work on this library, I use it for my app StockSwipe and love it.
I wanted to ask about a different use-case.

I'm looking to have a UIButton or UIView of a gift box image. And I want to let the user swipe it around the view as they wish and it won't go anywhere. Unless they flick it off the screen.

So my questions are:
1. Can I disable snap back to center
2. Can I

[2015-12-29 19:07] acegreen opened #113 "onPan animation based on pan distance"
Hi,

I was wondering if we have access to pan distance in .onPan callback? I want to adjust my views based on how much the user panned. Does that make sense?

[2016-01-14 08:56] #34 closed

[2016-02-05 09:41] gerardo-navarro commented on #109
Hi,
could this be done with the method `self.frontCardView.mdc_swipeToChooseSetup(swipingOptions: MDCSwipeOptions)`. Among others, MDCSwipeOptions has a property `swipeAnimationDuration` which suggests to exactly that.

Unfortunately, I tried the following code (with MDCSwipeToChoose version 0.2.3) with any effect on mdc_swipe speed:
[code]

Am I using it wrong.

[2016-02-18 14:48] jrmgx opened #115 "Update cocoapod version"
Major bug have been solved theses last 7 months, including autolayout related #111
It could be a good thing to update the cocoapod version
or to update the doc with the corresponding pod spec
```    pod 'MDCSwipeToChoose', :git => 'https://github.com/modocache/MDCSwipeToChoose.git'```

Nice job, using this lib in already 3 projects!

[2016-04-11 10:42] ananarola commented on #94
Hi.. i face issue similarly.. the effect of dragging left and right will not getting while we manually place code for drag left and right... i need exact animation which is shown when image is dragged either right or left..how can i achive this...specific on swift

[2016-04-11 11:24] ananarola commented on #94
Hi...i found the solution ... You just need to perform two simple steps..
1. Change the threshhold value from 100 to 160
2. Change the following file with given file named as  "UIView+MDCSwipeToChoose.h
[UIView+MDCSwipeToChoose.m.zip](https://github.com/modocache/MDCSwipeToChoose/files/212813/UIView.MDCSwipeToChoose.m.zip)

"

[2016-04-12 21:30] Mrostgaard commented on #82
Hey Confile!

In your MDCSwipeToChooseView subclass' initWithFrame method simply put:
 self.layer.borderWidth = 4.0f;

Would imagine you could do the same with color.

(I reckong you might have figured this one out by now but other people might need it)

[2016-04-30 17:53] alexyesiam opened #118 "Value of type 'ChoosePersonView' has no member 'imageView'"
if let image = self.person.Image {
        self.imageView.image = image
        }

        self.imageView.autoresizingMask = self.autoresizingMask

[2016-05-18 20:26] #97 closed

[2016-05-30 22:13] rfraser11689 opened #119 "Xcode simulator not running: Indexing taking very long time and eventually pauses indefinitely"

[2016-06-03 21:33] #118 closed

[2016-06-03 21:34] alexyesiam opened #121 "Ability to click on cards to bring up more info?"
Anyone implement something like this?

[2016-06-03 22:21] #121 closed

[2016-06-09 12:20] Think-It opened #122 "Xcode : Error on building Example"
Hi,

First, let me thank you for this projet.
Second, I've to admit that I'm a beginner in iOS dev, so please forgive me if I've forget something obvious.

When I'm going into SwiftLikeOrNope example folder, and type : pod install, I've got this error :

I've fixed it by adding in Podfile :

So "pod install" works as well :

But now when I'm trying to build the projet from Xcode, it doesn't work,

[2016-06-21 04:10] abrarmatin commented on #122
I have the same issue and would love to know the solution

[2016-06-27 01:54] noobs2ninjas commented on #122
this has to do with referencing the header files during the pods build phase. Im gonna work on it now and report back. I think it has something to do with the pods xconfig.

[2016-06-27 06:49] Think-It commented on #122
@noobs2ninjas : Thank you :)

[2016-07-17 23:03] acegreen opened #124 "mdc_swipe Issue"
I'm running across an issue where programmatic swiping without panning first causes the view to always swipe left, regardless of the direction I choose. From there on, it swipes in the correct direction (no pan needed)

Also if I initially pan before swiping, the first programmatic selection is correct the first time around.

Anyone else experience this?

[2016-07-17 23:06] acegreen commented on #124
Additional notes: Initially I create the views and move them outside my view for animation. So I bring them in like a shuffle.

[2016-07-17 23:41] acegreen commented on #124
I followed the trace when I select to swipe right, and direction is right all the way through, yet the actual swipe is then left.

[2016-07-18 00:00] acegreen commented on #124
One note: I create my views outside of the frame and animate them in like a shuffle effect. This might be causing my .originalCenter to be somewhere instead of where it should be.

[2016-07-18 00:17] acegreen commented on #124
Ah so after a little playing, it turns out it was indeed the originalCenter. No where is the original center set when you programmatically swipe. This is because the library assumes you either initially panned where the originalCenter gets set, or if not then, you manually swiped a view that didn't move form and therefore the originalCenter is still the same.

In my case, I was animating the news

[2016-07-18 00:17] #124 closed

[2016-07-19 00:44] acegreen commented on #124
Seems to be the same issue as #28. Was this commit removed?

[2016-07-25 21:21] adeeb1 opened #125 "Prevent the MDCSwipeToChooseView from being removed"
Is there a way to prevent the `MDCSwipeToChooseViews` from being removed from their `superview`? I would like to keep the views since the user can navigate backwards through the cards in my app.

Thanks in advance!

[2016-10-14 07:59] i-am-chris commented on #12
example?

[2017-01-19 19:18] matuskopo opened #128 "View stucked in position on when app goes to background"
Hi everybody,
first I want to thank you for great plugin.
Will try to describe my problem. I have implemented your plugin and everything works as it should. But there's one bug occurring while you are already swiping View. If during swiping your app goes to background (for example: somebody calls you, or just for testing, hit home button during swipe), after returning to app View will stuck somewh

[2017-07-28 10:37] Ans67 commented on #71
I have same issue . i would like to load my custom xib. i have array of property object. i would like to load card data based on my array data. how can i implement this?

[2017-08-14 22:57] Krishna commented on #122
Ran into the same problem (using Xcode 9 Beta 5).

The solution that worked for me was to delete the existing Podfile in the Examples/LikedOrNope/ directory.

I then used the `pod init` command to create a new Podfile and modified it so that its contents are:

[code]

Then I ran `pod install` and opened LikedOrNope.xcworkspace

Building and running the example was then successful.

Hope this helps

[2017-09-25 07:05] pooja816 commented on #128
I am also having the same issue.

[2019-02-10 21:28] acegreen commented on #125
Not sure if you resolved this but I would keep an army of UIViews of the swiped views and just move it back to the datasource when you need it

[2019-08-26 01:15] bull-xu commented on #128
When the app goes into background, iOS always remove the UIView's animations, which this library is using [UIView animateWithDuration]. There is something you can read: https://gist.github.com/grzegorzkrukowski/a5ed8b38bec548f9620bb95665c06128 and the author might be able ro use it to solve this issue.

[2019-09-27 11:12] johnbenjamin opened #131 "iOS 13 issue"
Swipe the card on ios13, and then frozen.
Does anyone else have this problem